/* *{
  margin:0;
  padding: 0;
} */

.App-header {
  background-color: rgb(104, 97, 97);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header{
  color: #333;
}
